*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.5rem;
    padding: 7rem;
    border: 2px solid white;
    /* justify-items: start; */
    /* align-items: stretch; */
    place-items: center;
}
.item   {
    /* height: 100px;
    width: 100px; */
    background-color: rgb(26, 246, 59);
    border: 1px solid black;
    /* justify-self: stretch; */
    /* place-self: center; */
}